body {
  background-color: #f2dfc7;
  text-align: center;

}
h1{
  text-align: center;
}
h4{
  text-align: center;
}
h3{
  text-align: center;
}
form{
  background-color: #ffffff;
  border-radius: 20px;
  padding: 30px;
}

button{
  background-color: #ae6f1e;
  border: 1px solid #777;
  border-radius: 2px;
  font-family: serif;
  font-size: 13px;
  display: block;
  margin-top: 50px;
  margin-bottom: 20px;
  color: white;
}

 
.form-control {
  text-align: left;
  margin-bottom: 25px;
}


.form-control input,
.form-control select,
.form-control textarea {
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;}
    .form-control{text-align: left;}